@import '../../style/mixins';


.container{
   @include container;
}

.title{
  @include title;
}

.coverter__input{
   padding: 40px 0px;
   display: flex;
   width: 100%;
   justify-content: center;
}

.converter__selects{
   width: 100%;
   display: flex;
   justify-content: space-around;
}

.converter__button{
   padding-top: 50px;
   display: flex;
   width: 100%;
   justify-content: center;
}

.result{
   padding: 40px 0 0 0;
   width: 100%;
   text-align: center;
   font-size: 26px;
}

.converter__link{
   @include linkButton();  
}